# Config
/.* @kurosakishigure
etc/ @kurosakishigure
deny.toml @kurosakishigure
sgconfig.yml @kurosakishigure
changelogithub.config.json @kurosakishigure
rust-toolchain.toml @kurosakishigure

# Dependencies
Cargo.toml @kurosakishigure
Cargo.lock @kurosakishigure

# Documentation
LICENSES/ @kurosakishigure
LICENSE @kurosakishigure
README.md @kurosakishigure
