# Config
.github/ @kurosakishigure
.config/ @kurosakishigure
etc/ @kurosakishigure
.gitignore @kurosakishigure
deny.toml @kurosakishigure
sgconfig.yml @kurosakishigure
changelogithub.config.json @kurosakishigure
.prettierrc.toml @kurosakishigure
.yamllint.yml @kurosakishigure
.markdownlint.yml @kurosakishigure
.prettierignore @kurosakishigure
.vale.ini @kurosakishigure
.rustfmt.toml @kurosakishigure
.git-blame-ignore-revs @kurosakishigure
rust-toolchain.toml @kurosakishigure
.editorconfig @kurosakishigure

# Dependencies
Cargo.toml @kurosakishigure
Cargo.lock @kurosakishigure

# Documentation
LICENSES/ @kurosakishigure
LICENSE @kurosakishigure
README.md @kurosakishigure
